<div class="main">
   <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
         <div class="col-lg-7 col-sm-10">
            <div class="card box m-5 p-4">
               <div class="card-body text-clr">
                  <div>
                     <h1 class="text-center m-0"><b>Register</b></h1>
                     <h6 class="text-center text-muted small m-0">and let's get you to the Awesome!</h6>
                  </div>
                  <form [formGroup]="userForm" (ngSubmit)="submitUser()">
                  <div class="form-group mt-3">
                     <label for="register-name">Name</label>
                     <div class="input-group mb-1">
                        <div class="input-group-prepend">
                           <span class="input-group-text input-icon px-2"><i class="user fa fa-user"></i> </span>
                        </div>
                        <input [ngClass]="{
                           'has-error':userForm.controls.userName.touched && userForm.controls.userName.invalid,
                           'has-success' : userForm.controls.userName.touched && userForm.controls.userName.valid
                           }" formControlName="userName" type="text" class="form-control" id="register-name" placeholder="Name">
                     </div>
                     <div class="text-end error" *ngIf="userForm.controls.userName.touched && userForm.controls.userName.invalid">Username cannot be empty</div>
                  </div>
                  <div class="form-group mt-3">
                     <label for="register-dob">Date of Birth</label>
                     <div class="input-group mb-1">
                        <div class="input-group-prepend">
                           <span class="input-group-text input-icon px-2"><i class="cal fa fa-calendar"></i> </span>
                        </div>
                        <input [ngClass]="{
                           'has-error':userForm.controls.userDob.touched && userForm.controls.userDob.invalid,
                           'has-success' : userForm.controls.userDob.touched && userForm.controls.userDob.valid
                           }" formControlName="userDob" type="date" class="form-control" id="register-dob">
                     </div>
                     <div class="text-end error" *ngIf="userForm.controls.userDob.touched && userForm.controls.userDob.invalid">Date of Birth cannot be empty</div>
                  </div>
                  <div class="form-group mt-3">
                     <label for="register-email">Email Address</label>
                     <div class="input-group mb-1">
                        <div class="input-group-prepend">
                           <span class="input-group-text input-icon px-2"><i class="at fa fa-at"></i> </span>
                        </div>
                        <input [ngClass]="{
                           'has-error':userForm.controls.userEmail.touched && userForm.controls.userEmail.invalid,
                           'has-success' : userForm.controls.userEmail.touched && userForm.controls.userEmail.valid
                           }" formControlName="userEmail" type="email" class="form-control" id="register-email" placeholder="Email">
                     </div>
                     <div class="text-end error" *ngIf="userForm.controls.userEmail.touched && userForm.controls.userEmail.invalid">Please enter a Valid Email</div>
                  </div>
                  <div class="form-group mt-3">
                     <label for="register-pwd">Password</label>
                     <div class="input-group mb-1">
                        <div class="input-group-prepend">
                           <span class="input-group-text input-icon px-2"><i class="lock1 fa fa-lock"></i> </span>
                        </div>
                        <input [ngClass]="{
                           'has-error':userForm.controls.userPwd.touched && userForm.controls.userPwd.invalid,
                           'has-success' : userForm.controls.userPwd.touched && userForm.controls.userPwd.valid
                           }" formControlName="userPwd" type="password" class="form-control" id="register-pwd" placeholder="Password">
                     </div>
                     <div class="text-end error" *ngIf="userForm.controls.userPwd.errors?.required && userForm.controls.userPwd.touched && userForm.controls.userPwd.invalid">Password cannot be empty</div>
                     <div class="text-end error" *ngIf="userForm.controls.userPwd.errors?.minlength && userForm.controls.userPwd.touched && userForm.controls.userPwd.invalid">Minimum 8 characters required</div>
                  </div>
                  <div class="form-group mt-3">
                     <label for="register-cpwd">Confirm Password</label>
                     <div class="input-group mb-1">
                        <div class="input-group-prepend">
                           <span class="input-group-text input-icon px-2"><i class="lock2 fa fa-lock"></i> </span>
                        </div>
                        <input [ngClass]="{
                           'has-error':userForm.controls.confirmPwd.touched && userForm.controls.confirmPwd.invalid,
                           'has-success' : userForm.controls.confirmPwd.touched && userForm.controls.confirmPwd.valid
                           }" formControlName="confirmPwd" type="password" class="form-control" id="register-cpwd" placeholder="Confirm Password">
                     </div>
                     <div class="text-end error" *ngIf="userForm.controls.confirmPwd.errors?.required && userForm.controls.confirmPwd.touched && userForm.controls.confirmPwd.invalid">Password cannot be empty</div>
                     <div class="text-end error" *ngIf="userForm.controls.confirmPwd.errors?.passwordValidator && userForm.controls.confirmPwd.touched">Entered Passwords didn't match! Please try again.</div>
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn btn-bg text-center mt-3">Register</button>
                  </div>
                  </form>
                  <div class="text-center success mt-3" *ngIf="isRegistered===true">User Registration Successful! Please Login.</div>
                  <div class="text-center mt-3">
                     Already have an account ?
                     <a routerLink="/login">Log in.</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>