<div class="main">
   <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center text-center">
         <div class="col-lg-7 text-clr">
            <img src="assets/img/page-not-found.svg" height="250px">
            <h1 class="col-lg-12 display-2 p-4"><b>Page NOT Found</b></h1>
            <h5 class="col-lg-12 p-2">This is a 404 error, which means you've clicked on a bad link or entered an invalid URL. MiniURL links are case sensitive.</h5>
            <a routerLink="/" class="btn btn-bg">Home</a>
         </div>
      </div>
   </div>
</div>