a {
	text-decoration: none;
}

.box {
	background-color: #2A2E35;
	border-radius: 10px;
	box-shadow: 0 0 20px #000;
}

.box2 {
	background-color: #454E56;
	border-radius: 10px;
}

.input-icon {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 0;
	background-color: #454E56;
	height: 100%;
}

input,
input:focus {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 0;
	font-size: 20px;
	background-color: #454E56;
	box-shadow: none;
	color: white;
}

input:focus {
	border-color: #45A29E;
}

::placeholder {
	color: #9CA8B5;
}

.link {
	color: #0D6EFD;
}

.full-link {
	color: #0D6EFD;
	font-weight: bolder;
}

.short-link {
	color: #09C372;
	font-weight: bolder;
}

.btn-bg,
.input-btn-bg {
	background-color: #09C372;
	font-size: 18px;
	border: 0;
	color: white;
	font-weight: bolder;
	box-shadow: none;
}

.btn-bg:hover,
.input-btn-bg:hover {
	background-color: #09aa72;
}

.btn-bg {
	font-weight: normal;
	font-size: 16px;
}

.input- {
	background-color: #09aa72;
}

.has-error {
	box-shadow: 0 0 4px red;
}

.has-success {
	box-shadow: 0 0 4px #09C372;
}