<div class="main">
   <div class="container justify-content-center text-clr">
      <!-- Shortening Box -->
      <div class="my-3">
         <div class="row">
            <h1>Dashboard</h1>
         </div>
      </div>
      <hr>
      <app-shorten></app-shorten>
      <hr>
      <div class="row mb-4">
         <div class="col-lg-4 mt-2">
            <app-url-list></app-url-list>
         </div>
         <div class="col-lg-8 mt-2">
            <app-url-desp></app-url-desp>
         </div>
      </div>
   </div>
</div>