/* You can add global styles to this file, and also import other style files */

.main {
	background: #12181B;
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	height: 100%;
}

.text-clr {
	color: #D4D5D7;
}

::placeholder {
	color: #9CA8B5;
}

input[type=date] {
	color: #9CA8B5;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

.user {
	color: #9166CC;
}

.cal {
	color: brown;
}

.at {
	color: #0D6EFD;
	font-weight: bolder;
}

.lock1 {
	color: #FA8142;
	font-weight: bolder;
}

.lock2 {
	color: #09C372;
	font-weight: bolder;
}

.error {
	color: #FF3860;
}

.success {
	color: #09C372;
}


/* Scrollbar */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #D4D5D7;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background: #454E56;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #2A2E35;
}